---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
    <h1 class="title">{{ page.feature-title | default: page.title }}</h1>
    <br>
    <h4>For all inquires, please email info@starseedstories.com</h4>
    <p>Starseed stories is written by someone just like you. Starseed stories is a spiritual blog about expanding your consciousness during the most important time of our lives: now. It is intended to help readers raise their energy by looking inwards for their truth. By loving yourself & others, purging our traumatic experiences, and safely facing fears to distort our perception we can begin to perceive higher dimensions of reality, contact interdimensional beings, and connect with the ever growing field of energy that surrounds us for timeless information.
      <br>
      This blog will delve into many new age spiritual topics such as abundance, codependency, Intrinsicality, energy healing, and mediation to name a few. Relating from personal experience and Akashic connections, many times the author will use this blog as a practical journey to expand on new and current ideas. This blog is also intended to help readers understand similar unexplainable experiences they have gone through in their life.
      </p>
  </header>
  <section class="post-content">{{ content }}</section>
</article>
